body {
    font-family: sans-serif;
}

#homepage {
    background: url(images/jumbotron-background.jpg) center center fixed;
    background-size: auto 100vh;
    color:  #F50000;
}

#homepage div p {
    font-size: xx-large;
}

#homepage .btn {
    font-size: large;
    color: #F7D126;
    background-color: #F50000;
    border: 0;
    padding: 8px 25px;
}

#homepage .btn:hover {
    background-color: #bd1515;
}

div#page {
    background-color: #FBEA9D;
}

header, footer {
    background-color: #F7D126;
    color: #F50000;
    font-size: 1.25rem;
}

header {
    padding: 20px 80px;
}

a {
    color: #000000;
    text-decoration: none;
}

nav a {
    color: #F50000;
}

a:hover {
    color: #bd1515;
}

#main-content {
    color: #000000;
    padding: 70px 80px;
}

.content {
    margin-top: 70px;
}

h1{
    color: #F50000;
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem
}

h5 {
    color: #F50000;
    font-size: 1.5rem;
}

div#main-content p {
    font-size: 1.5rem;
}

.my-journey {
    list-style-type: none;
    padding: 0;
    margin: 40px 0;
    font-size: 1.4rem;
}

.my-journey li{
    margin: 25px 0;
}

#socmed-list {
    list-style-type: none;
    line-height: 6rem;
}

#socmed-list a{
    font-size: x-large;
}

#socmed-list a:hover{
    text-decoration: none;
    color: #F50000;
}

.socmed-logo {
    width: 55px;
    height: 55px;
}

.card {
    background-color: #F7D126;
    border-color: #F50000;
}

.credits {
    color: #ffffff;
    font-size: 0.85rem;
}

@media (min-width: 768px) {
    .border-md-left-1 {
        border-left: 1px solid #F50000 ;
    }

    .border-md-right-1 {
        border-right: 1px solid #F50000 ;
    }
}